In [ ]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python). 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.

In [1]:
import pandas as pd

In [2]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [4]:
# Let's confirm the Datatype
type(my_list)

list

In [7]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that series is formed of data and associated index (numeric index has been automatically generated) 
# Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series
# Object datatype is used for text data (String)
series1 = pd.Series(my_list)
series1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [8]:
# Let's confirm the Pandas Series Datatype
type(series1)

pandas.core.series.Series

In [10]:
# Let's define another Pandas Series that contains numeric values (stock prices) instead of text data
# Note that we have int64 datatype which means it's integer stored in 64 bits in memory
series2 = pd.Series(data=[100,200,500,1000,5000])
series2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

**MINI CHALLENGE #1:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Confirm the datatype of "my_series"**

In [18]:
import pandas as pd
list =['StarWars', 'LordOftheRings', 'Harrypotter']
my_series = pd.Series(list)
print(my_series)

0          StarWars
1    LordOftheRings
2       Harrypotter
dtype: object

# Let's define a python list as shown below. This python list will be used for the Series index:

In [20]:
type(list)

list

2. DEFINE A PANDAS SERIES WITH CUSTOM INDEX

In [23]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [24]:
# Let's define a python list as shown below. This python list will be used for the Series index:
my_labels = ['stock_1','stock_2','stock_3','stock_4','stock_5']
my_labels

['stock_1', 'stock_2', 'stock_3', 'stock_4', 'stock_5']

In [25]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels 
series_3 = pd.Series(data = my_list, index=my_labels)

In [26]:
# Let's view the series
series_3

stock_1    NVDA
stock_2    MSFT
stock_3      FB
stock_4    AMZN
stock_5      BA
dtype: object

In [27]:
# Let's obtain the datatype
type(series_3)

pandas.core.series.Series

**MINI CHALLENGE #2:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Instead of using default numeric indexes (similar to mini challenge #1), use the following indexes "movie #1", "Movie #2", and "movie #3"**

In [35]:
list =['StarWars', 'LordOftheRings', 'Harrypotter']
list

['StarWars', 'LordOftheRings', 'Harrypotter']

In [36]:
numbers =['movie #1', 'Movie #2','movie #3']
numbers

['movie #1', 'Movie #2', 'movie #3']

In [38]:
my_series = pd.Series(data = list, index =numbers)
my_series

movie #1          StarWars
Movie #2    LordOftheRings
movie #3       Harrypotter
dtype: object

3. DEFINE A PANDAS SERIES FROM A DICTIONARY

In [42]:
# A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys
# Define a dictionary named "my_dict" using key-value pairs
my_dict ={'Bank client ID': 111,
                          'Bank Client Name': 'Steve',
                          'Net worth [$]': 3500,
                          'Years with bank': 9}

In [43]:
my_dict

{'Bank client ID': 111,
 'Bank Client Name': 'Steve',
 'Net worth [$]': 3500,
 'Years with bank': 9}

In [44]:
type(my_dict)

dict

In [45]:
series4 = pd.Series(my_dict)
series4

Bank client ID        111
Bank Client Name    Steve
Net worth [$]        3500
Years with bank         9
dtype: object

MINI CHALLENGE #4:

What is the size of the Pandas Series? (External Research for the proper attribute is Required)

In [50]:
my_dict2 = {'NVDA':200,
'MSFT':450,
'FB':365,
'AMZN':189,
'BA':8
}
my_dict2

{'NVDA': 200, 'MSFT': 450, 'FB': 365, 'AMZN': 189, 'BA': 8}

In [51]:
type(my_dict2)

dict

In [52]:
series41 = pd.Series(my_dict2)
series41

NVDA    200
MSFT    450
FB      365
AMZN    189
BA        8
dtype: int64

# 4. PANDAS ATTRIBUTES

In [ ]:
# Attributes/Properties: do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape
# Methods: use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()
# Indexers: use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[]

# Let's redefine a Pandas Series containing our favourite 5 stocks 
# Nvidia, Microsoft, FaceBook, Amazon, and Boeing