In [2]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python). 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.

In [3]:
import pandas as pd

In [4]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [5]:
# Let's confirm the Datatype
type(my_list)

list

In [6]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that series is formed of data and associated index (numeric index has been automatically generated) 
# Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series
# Object datatype is used for text data (String)
series1 = pd.Series(my_list)
series1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [7]:
# Let's confirm the Pandas Series Datatype
type(series1)

pandas.core.series.Series

In [8]:
# Let's define another Pandas Series that contains numeric values (stock prices) instead of text data
# Note that we have int64 datatype which means it's integer stored in 64 bits in memory
series2 = pd.Series(data=[100,200,500,1000,5000])
series2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

**MINI CHALLENGE #1:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Confirm the datatype of "my_series"**

In [9]:
import pandas as pd
list =['StarWars', 'LordOftheRings', 'Harrypotter']
my_series = pd.Series(list)
print(my_series)

0          StarWars
1    LordOftheRings
2       Harrypotter
dtype: object

# Let's define a python list as shown below. This python list will be used for the Series index:

In [10]:
type(list)

list

2. DEFINE A PANDAS SERIES WITH CUSTOM INDEX

In [11]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [12]:
# Let's define a python list as shown below. This python list will be used for the Series index:
my_labels = ['stock_1','stock_2','stock_3','stock_4','stock_5']
my_labels

['stock_1', 'stock_2', 'stock_3', 'stock_4', 'stock_5']

In [13]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels 
series_3 = pd.Series(data = my_list, index=my_labels)

In [14]:
# Let's view the series
series_3

stock_1    NVDA
stock_2    MSFT
stock_3      FB
stock_4    AMZN
stock_5      BA
dtype: object

In [15]:
# Let's obtain the datatype
type(series_3)

pandas.core.series.Series

**MINI CHALLENGE #2:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Instead of using default numeric indexes (similar to mini challenge #1), use the following indexes "movie #1", "Movie #2", and "movie #3"**

In [16]:
list =['StarWars', 'LordOftheRings', 'Harrypotter']
list

['StarWars', 'LordOftheRings', 'Harrypotter']

In [17]:
numbers =['movie #1', 'Movie #2','movie #3']
numbers

['movie #1', 'Movie #2', 'movie #3']

In [18]:
my_series = pd.Series(data = list, index =numbers)
my_series

movie #1          StarWars
Movie #2    LordOftheRings
movie #3       Harrypotter
dtype: object

3. DEFINE A PANDAS SERIES FROM A DICTIONARY

In [19]:
# A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys
# Define a dictionary named "my_dict" using key-value pairs
my_dict ={'Bank client ID': 111,
                          'Bank Client Name': 'Steve',
                          'Net worth [$]': 3500,
                          'Years with bank': 9}

In [20]:
my_dict

{'Bank client ID': 111,
 'Bank Client Name': 'Steve',
 'Net worth [$]': 3500,
 'Years with bank': 9}

In [21]:
type(my_dict)

dict

In [22]:
series4 = pd.Series(my_dict)
series4

Bank client ID        111
Bank Client Name    Steve
Net worth [$]        3500
Years with bank         9
dtype: object

MINI CHALLENGE #4:

What is the size of the Pandas Series? (External Research for the proper attribute is Required)

In [23]:
my_dict2 = {'NVDA':200,
'MSFT':450,
'FB':365,
'AMZN':189,
'BA':8
}
my_dict2

{'NVDA': 200, 'MSFT': 450, 'FB': 365, 'AMZN': 189, 'BA': 8}

In [24]:
type(my_dict2)

dict

In [25]:
series41 = pd.Series(my_dict2)
series41

NVDA    200
MSFT    450
FB      365
AMZN    189
BA        8
dtype: int64

# 4. PANDAS ATTRIBUTES

In [26]:
# Attributes/Properties: do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape
# Methods: use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()
# Indexers: use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[]

# Let's redefine a Pandas Series containing our favourite 5 stocks 
# Nvidia, Microsoft, FaceBook, Amazon, and Boeing
stocks1 = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
series42 = pd.Series(stocks1)
series42

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [27]:
# ".Values" attribute is used to return Series as ndarray depending on its dtype
# Check this for more information: https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html#pandas.Series.values
series42.values

array(['NVDA', 'MSFT', 'FB', 'AMZN', 'BA'], dtype=object)

In [28]:
# index is used to return the index (axis labels) of the Series
series42.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
# Check if all elements are unique or not
series42.is_unique

True

In [30]:
# Check the shape of the Series
# note that a Series is one dimensional
series42.shape

(5,)

**MINI CHALLENGE #4:** 
- **What is the size of the Pandas Series? (External Research for the proper attribute is Required)**

In [31]:
series42.size

5

# 5. PANDAS METHODS

In [32]:
# Methods have parentheses and they actually alter/change the Pandas Series
# Methods: use parantheses "()" and might include arguments. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()

# Let's define another Pandas Series that contains numeric values (stock prices) instead of text data
# Note that we have int64 datatype which means it contains integer values stored in 64 bits in memory
my_series = pd.Series([100,200,500,1000, 5000])
my_series

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [33]:
# Let's obtain the sum of all elements in the Pandas Series
my_series.sum()

6800

In [34]:
# Let's obtain the multiplication of all elements in the Pandas Series
my_series.product()

50000000000000

In [35]:
# lets obtain the average
my_series.mean()

1360.0

In [36]:
# Let's show the first couple of elements in the Pandas Series
my_series.head(2)

0    100
1    200
dtype: int64

In [37]:
# Note that head creates a new dataframe 
new_series = my_series.head(2)
new_series

0    100
1    200
dtype: int64

**MINI CHALLENGE #5:** 
- **Show the last 2 rows in the Pandas Series (External Research is Required)** 
- **How many bytes does this Pandas Series consume in memory? (External Research is Required)**

In [38]:
my_series.tail(2)

3    1000
4    5000
dtype: int64

In [39]:
my_series.memory_usage()

172

# 6. IMPORT CSV DATA (1-D) USING PANDAS

In [40]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no formatting exists when a Series is plotted
sp500 = pd.read_csv('S_P500_Prices.csv')

# 7. PANDAS BUILT-IN FUNCTIONS

In [15]:
# Pandas works great with pre-existing python functions 
# You don't have to play with pandas methods and directly leverage Python functions
# Check Python built-in functions here: https://docs.python.org/3/library/functions.html
import pandas as pd

# Read the CSV file
sp500 = pd.read_csv('S_P500_Prices.csv')

# Squeeze the DataFrame to a Series if possible
sp500 = sp500.squeeze()

# Display the Series or DataFrame
print(sp500)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [16]:
sp500.head()

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
Name: sp500, dtype: float64

In [17]:
type(sp500)

pandas.core.series.Series

In [18]:
len(sp500)

2159

In [19]:
max(sp500)

3386.149902

In [20]:
min(sp500)

1278.040039

**MINI CHALLENGE #7:**
- **Given the following Pandas Series, convert all positive values to negative using python built-in functions**
- **Obtain only unique values (ie: Remove duplicates) using python built-in functions**
- **my_series = pd.Series(data = [-10, 100, -30, 50, 100])**

In [28]:
my_series = pd.Series(data = [-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [30]:
abs(my_series)

0     10
1    100
2     30
3     50
4    100
dtype: int64

In [32]:
set(my_series)

{-30, -10, 50, 100}

# 8. SORTING PANDAS SERIES

In [33]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('S_P500_Prices.csv')

# Squeeze the DataFrame to a Series if possible
sp500 = sp500.squeeze()

# Display the Series or DataFrame
print(sp500)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [37]:
# You can sort the values in the dataframe as follows
sp500.sort_values()

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [40]:
# Let's view Pandas Series again after sorting, Note that nothing changed in memory! you have to make sure that inplace is set to True
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [43]:
# Set inplace = True to ensure that change has taken place in memory 
# Create a copy of the Series
sp500_copy = sp500.copy()

# Sort the copied Series in place
sp500_copy.sort_values(inplace=True)

# Display the sorted Series
print(sp500_copy)

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [46]:
# Notice that the indexes are now changed 
# You can also sort by index (revert back to the original Pandas Series) as follows: 
sp500_copy.sort_index(inplace=True)
sp500_copy

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

**MINI CHALLENGE #8:**
- **Sort the S&P500 values in a decending order instead. Make sure to update values in-memory.**

In [51]:
sp500_copy.sort_values(ascending=False, inplace=True)
sp500_copy

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

# 9. PERFORM MATH OPERATIONS ON PANDAS SERIES

In [53]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('S_P500_Prices.csv')

# Squeeze the DataFrame to a Series if possible
sp500 = sp500.squeeze()

# Display the Series or DataFrame
print(sp500)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [57]:
# Apply Sum Method on Pandas Series
sp500.sum() # this for more proficent and powerful

4790280.287214

In [58]:
sum(sp500)# this is more general purpose

4790280.287214003

In [59]:
# Apply count Method on Pandas Series
sp500.count()

2159

In [60]:
# Obtain the maximum value
sp500.max()

3386.149902

In [61]:
# Obtain the minimum value
sp500.min()

1278.040039

In [62]:
# My favourite: Describe! 
# Describe is used to obtain all statistical information in one place 
sp500.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

**MINI CHALLENGE #9:**
- **Obtain the average price of the S&P500 using two different methods**

In [63]:
sp500.mean()

2218.7495540592868

**# 10. CHECK IF A GIVEN ELEMENT**

In [64]:
# Let's import CSV data as follows:
# Let's import CSV data as follows:
sp500 = pd.read_csv('S_P500_Prices.csv')

# Squeeze the DataFrame to a Series if possible
sp500 = sp500.squeeze()

# Display the Series or DataFrame
print(sp500)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [65]:
# Check if a given number exists in a Pandas Series values
# Returns a boolean "True" or "False"
1295.500000 in sp500.values

True

In [66]:
# Check if a given number exists in a Pandas Series index
1295.50000 in sp500.index

False

In [67]:
# Note that by default 'in' will search in Pandas index and not values
1295.500000 in sp500

False

**MINI CHALLENGE #10:**
- **Check if the stock price 3349 exists in the sp500 Pandas Series or not**
- **Round stock prices to the nearest integer and check again**

In [70]:
3349 in sp500.values

False

In [71]:
round(sp500)

0       1296.0
1       1289.0
2       1294.0
3       1308.0
4       1314.0
         ...
2154    3328.0
2155    3349.0
2156    3351.0
2157    3360.0
2158    3334.0
Name: sp500, Length: 2159, dtype: float64

# 11. INDEXING: OBTAIN SPECIFIC ELEMENTS FROM PANDAS SERIES

In [72]:
sp500 = pd.read_csv('S_P500_Prices.csv')

# Squeeze the DataFrame to a Series if possible
sp500 = sp500.squeeze()

# Display the Series or DataFrame
print(sp500)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [73]:
# Obtain the first element in a Pandas Series
# Note that first element has an index 0
sp500[0]

1295.5

In [74]:
sp500[4]

1314.5

In [75]:
# Obtain the last element in the Pandas Series
sp500[2158]

3333.689941

**MINI CHALLENGE #11:**
- **Obtain the fifth element in the Pandas Series**

In [76]:
sp500[5]

1315.380005

# 12. SLICING: OBTAIN MULTIPLE ELEMENTS FROM PANDAS SERIES